@model string;
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
<div class="text-white" style="position:fixed; right: 25px; bottom: 25px;">
    <a class="btn btn-success"asp-controller="@Model" asp-action="Create">Add New</a>
</div>
}